<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header-script.ejs') %> 
    <title>Create</title>
</head>
<body>
    <nav>
        <div class="header-text">
            <h1>mlvn.go</h1>
        </div>
        <div class="header-icon">
            <i class="fa-solid fa-code"></i>
        </div>
        <div class="header-nav">
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </nav>
    
    <main class="create-container card">
        <section>
            <div class="create-title">
                <i class="fa-solid fa-location-dot"></i>
                <h1>Create location</h1>
            </div>
            <div class="create-field">
                
                <form action="/create" method="post">
                    <div class="create-field-left">
                        <div class="input-control">
                            <label for="name">Name:</label>
                            <input type="text" name="name" placeholder="Enter place name">
                        </div>
                        
                        <div class="input-control">
                            <label for="description">Description:</label>
                            <textarea name="description" id="description" cols="30" rows="8" placeholder="Enter place description"></textarea>
                        </div>
                        <div class="input-control">
                            <label class="map-addr" for="">Address:
                                <span id="curpos" style="color: rgb(69, 254, 69); ">•</span>
                            </label>
                            <div id="map"></div>
                        </div>
                        <div class="invi-input">
                            <input type="text" name="lat" id="lat">
                            <input type="text" name="lng" id="lng">
                            <input type="text" name="authorFirst" id="authorFirst" value="<%= user.firstname %>">
                            <input type="text" name="authorLast" id="authorLast" value="<%= user.lastname %>">
                        </div>
                        <div class="input-control">
                            <button type="submit" id="sub" class="btn">Submit</button>
                            <a class="btn danger" href="/">Cancel</a>
                        </div>
                    </div>

                    <div class="create-field-right">
                        <div class="input-control">
                            <label for="">Uploader:</label>
                            <div class="place-author create">
                                <div class="author-cap"><%= user.firstname[0] + user.lastname[0] %></div>
                                <h3 class="author-name"><%= `${user.firstname} ${user.lastname}` %></h3>
                            </div>
                        </div>
                        <div class="input-control">
                            <label for="tag">Tag:</label>
                            <select name="tag" id="tag">
                                <% tagOptions.forEach(tag => { %> 
                                    <option value="<%= tag.tagback %>"><%= tag.tagname %></option>
                                <% }) %> 
                            </select>
                        </div>
                        <div class="input-control">
                            <label for="">Images:</label>
                            <div class="img-input">
                                <i class="fa-solid fa-image"></i>
                                <input type="text" name="imageOne" placeholder="Please enter valid image link">
                            </div>
                            <div class="img-input">
                                <i class="fa-solid fa-image"></i>
                                <input type="text" name="imageTwo" placeholder="Enter image link" disabled>
                            </div>
                            <div class="img-input">
                                <i class="fa-solid fa-image"></i>
                                <input type="text" name="imageThree" placeholder="Enter image link" disabled>
                            </div>
                            <div class="img-input">
                                <i class="fa-solid fa-image"></i>
                                <input type="text" name="imageFour" placeholder="Enter image link" disabled>
                            </div>
                        </div>
                        <div class="input-control notice">
                            <h4>Notes:</h4>
                            <p>Magrerequest po ito ng location sa browser para lang may maging base center yung map. Pag block po yung pinili madidisable yung map.</p>
                            <p>Click and drag po yung marker sa map</p>
                            <p>Mabagal po yung loading ng map kase HERE Map API po gamit. Need po ng cc sa Google Map API.</p>
                            <p>Please enter valid links on image input. Disabled po yung other 3 inputs para sa image kasi nagbubug po pag di totoong link yung nilagay.</p>
                            <p>Pwede naman po lagyan ng link yung mga picture using Edit kaso dapat link po yung ilalagay kasi pag hind magcracrash si server.</p>
                            <p>Next update nalang po yung geolocator na painput lang hehe.</p>
                        </div>
                    </div>
                    
                </form>
            </div>
        </section>
    </main>
    
    <%- include('partials/footer.ejs') %> 

    <script type="text/javascript" src="/src/scripts/mapper.js"></script>
</body>
</html>