<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/styles/default.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
    <title>Edit</title>
</head>
<body>
    <nav>
        <div class="header-text">
            <h1>mlvn.go</h1>
        </div>
        <div class="header-icon">
            <i class="fa-solid fa-code"></i>
        </div>
        <div class="header-nav">
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </nav>

    <main class="create-container card">
        <section>
            <div class="create-title">
                <i class="fa-solid fa-location-dot"></i>
                <h1>Edit current location</h1>
            </div>
            <div class="create-field">
                
                <form action="/view/place/<%= place._id %>/edit?_method=PATCH" method="post">
                    <div class="create-field-left">
                        <div class="input-control">
                            <label for="name">Name:</label>
                            <input type="text" id="name" name="name" placeholder="Enter place name" value="<%= place.name %>" required>
                        </div>
                        
                        <div class="input-control">
                            <label for="">Description:</label>
                            <textarea name="description" id="description" cols="30" rows="8" placeholder="Enter place description" value="<%= place.description %>" required><%= place.description %></textarea>
                        </div>
                        <div class="input-control">
                            <label class="map-addr" for="">Address: <span id="curpos"></span></label>
                            <div id="map"></div>
                        </div>
                        <div class="invi-input">
                            <input type="text" name="lat" id="lat" value="<%= place.lat %>">
                            <input type="text" name="lng" id="lng" value="<%= place.lng %>">
                            <input type="text" name="authorFirst" id="authorFirst" value="<%= place.uploaderFirst %>">
                            <input type="text" name="authorLast" id="authorLast" value="<%= place.uploaderLast %>">
                        </div>
                        <div class="input-control">
                            <button type="submit" id="sub" class="btn">Save</button>
                            <a href="/view/place/<%= place._id %>" class="btn danger">Cancel</a>
                        </div>
                    </div>

                    <div class="create-field-right">
                        
                        <div class="input-control">
                            <label for="">Uploader:</label>
                            <div href="" class="place-author create">
                                <div class="author-cap"><%= place.uploaderFirst[0] + place.uploaderLast[0] %></div>
                                <h3 class="author-name"><%= `${place.uploaderFirst} ${place.uploaderLast}` %> </h3>
                            </div>
                        </div>
                        <div class="input-control">
                            <label for="tag">Tag:</label>
                            <select name="tag" id="tag" value="<%= place.gender %>">
                                <option value="home">Home</option>
                                <option value="goverment">Government</option>
                                <option value="restaurant">Restaurant</option>
                                <option value="mall">Mall</option>
                                <option value="commercial">Commercial Area</option>
                                <option value="tourist">Tourist Spot</option>
                                <option value="hotel">Hotel</option>
                                <option value="school">School</option>
                                <option value="station">Station</option>
                            </select>
                        </div>
                        <div class="input-control">
                            <label for="">Images:</label>
                            <div class="img-input">
                                <i class="fa-solid fa-image"></i>
                                <input type="text" name="imageOne" placeholder="Enter image link" value="<%= place.imageOne %>" required>
                            </div>
                            <div class="img-input">
                                <i class="fa-solid fa-image"></i>
                                <input type="text" name="imageTwo" placeholder="Enter image link" value="<%= place.imageTwo %>">
                            </div>
                            <div class="img-input">
                                <i class="fa-solid fa-image"></i>
                                <input type="text" name="imageThree" placeholder="Enter image link" value="<%= place.imageThree %>">
                            </div>
                            <div class="img-input">
                                <i class="fa-solid fa-image"></i>
                                <input type="text" name="imageFour" placeholder="Enter image link" value="<%= place.imageFour %>">
                            </div>
                        </div>
                        <div class="input-control notice">
                            <h4>Notes:</h4>
                            <p>Click and drag po yung marker sa map</p>
                            <p>Mabagal po yung loading ng map kase HERE Map API po gamit. Need po ng cc sa Google Map API.</p>
                            <p>Please enter valid links on image input. Disabled po yung other 3 inputs para sa image kasi nagbubug po pag di totoong link yung nilagay.</p>
                            <p>Pwede naman po lagyan ng link yung mga picture using Edit kaso dapat link po yung ilalagay kasi pag hind magcracrash si server.</p>
                            <p>Next update nalang po yung geolocator na painput lang hehe.</p>
                        </div>
                    </div>
                </form>
                <form class="delete-link-container" action="/view/place/<%= place._id %>/edit?_method=DELETE" method="post">
                    <button type="submit" class="delete-link">Delete</button><p>post. This action connot be undone.</p> 
                </form>
            </div>
        </section>
    </main>
    
    <%- include('partials/footer.ejs') %> 
    <%- include('partials/edit-mapper.ejs') %> 
</body>
</html>